<div class="bd-toc-item">
    <a class="bd-toc-link">
        Тут что-то
    </a>

    <ul class="nav bd-sidenav">
        <li>
            <a>
                Introduction to my life
            </a></li>
        <li>
            <a>
                Download
            </a></li>
        <li>
            <a>
                Contents
            </a></li>
        <li>
            <a>
                Browsers &amp; devices
            </a></li>
        <li>
            <a>
                JavaScript
            </a></li>
        <li>
            <a>
                Theming
            </a></li>
        <li>
            <a>
                Build tools
            </a></li>
        <li>
            <a>
                Webpack
            </a></li>
        <li>
            <a>
                Accessibility
            </a></li>
    </ul>
</div>
<div class="bd-toc-item">
    <a class="bd-toc-link">
        Layout
    </a>

    <ul class="nav bd-sidenav">
        <li>
            <a>
                Overview
            </a></li>
        <li>
            <a>
                Grid
            </a></li>
        <li>
            <a>
                Media object
            </a></li>
        <li>
            <a>
                Utilities for layout
            </a></li>
    </ul>
</div>
<div class="bd-toc-item">
    <a>
        Content
    </a>

    <ul class="nav bd-sidenav">
        <li>
            <a>
                Reboot
            </a></li>
        <li>
            <a>
                Typography
            </a></li>
        <li>
            <a>
                Code
            </a></li>
        <li>
            <a>
                Images
            </a></li>
        <li>
            <a>
                Tables
            </a></li>
        <li>
            <a>
                Figures
            </a></li>
    </ul>
</div>