body {
  background-image: url("assets/i/bg.png");
  background-size: 2304px auto;
}

app-left-sidebar {
  color: aliceblue;
}

app-todo {
  color: aliceblue;
  width: 100%;
  height: 100%;
  .todo-header {
    margin: 20px;
  }
  .search-field {
    margin: 20px;
  }
  .todo-table {
    text-align: center;
    color: #da1b48;
    thead {
      th:first-child {
        width: 7%;
      }
      th:nth-last-child(1) {
        width: 10%;
      }
      th:nth-last-child(2) {
        width: 10%;
      }
    }
  }
}

store {
  color: azure;
  h3 {
    text-align: center;
    margin: 1em;
  }
  .container {
    background: navy;
    display: grid;
    grid-template-columns: 35% auto;
    min-height: 700px;
    padding-top: 10px;
    grid-gap: 1em;

    .products {
      display: grid;
      grid-gap: 1em;
      padding: 5px;

      .card {
        color: navy !important;
        height: auto;
        .tag {
          color: #da1b48;
        }

        .card-text{
          padding: 1em;
          &:first-letter {
            text-transform: capitalize;
          }
        }

      }
    }
    .category {
      grid-column: 1/2;
    }

    .categories {
      padding: 5px;
      background: indigo;
      border: 1px solid black;
    }
  }
}